<div class="about-banner">
  <div class="content">

    <div class="overlay" style="background: url('/meta/page_bg_02.png')"></div>
    <div class="text-wrapper">
      <div class="main-title">
              <span class="no-wrap">
                우리는 올리브영 디벨로퍼즈,
              </span>
        <span class="no-wrap">
                <span class="highlight-text">올디브</span>입니다!
              </span>
      </div>
      <br/>
      <div class="description">
              <span class="no-wrap">
                올리브영의 모든 것을 개발한다는 뜻인
              </span>
        <span class="no-wrap">
               '<span class="highlight-text">All dev</span>'의 의미를 담고 있어요.
              </span>
      </div>
    </div>
  </div>
</div>
