<div class="loading-animation">
  <section class="home">
    <div class="section">
      <span class="title"><span class="label-emoji">✍️</span>&nbsp;Recent Post</span>
      <div class="content">
        <table class="catalogue">
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'tech' %}
            {% for page in sorted limit:3 %}
            {% include post-card.html %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
<!--    <div class="section">-->
<!--      <span class="title"><span class="label-emoji">🤟</span>&nbsp;개발팀의 분위기가 궁금하다면?</span>-->
<!--      <div class="content video">-->
<!--        <iframe src="https://www.youtube.com/embed/big4xZFQ7c0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </div>-->
  </section>

  <a href="https://programmers.co.kr/competitions/1583/2021-cj-oliveyoung-challenge" target="_blank">
    <div class="section recruit-challenge-banner">
    </div>
  </a>

</div>

