<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/background_1.jpg')"></div>
            <div class="text-wrapper">
                <div class="main-title">
                    <span class="no-wrap">
                        Taewon Yoo
                    </span>
                </div>
                <div class="description">

                </div>
                <br/>
                <div>
<!--                    <span class="no-wrap">-->
<!--                        <a href="twyoo@khu.ac.kr" target="_blank">Email / </a>-->
<!--                    </span>-->
                    <span class="no-wrap">
                        <a href="https://www.linkedin.com/in/taewonyoo" target="_blank">LinkedIn / </a>
                    </span>
                    <span class="no-wrap">
                        <a href="https://www.instagram.com/twy00" target="_blank">Instagram</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
