---
layout: archive
---

{{ content }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173632340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173632340-1');
</script>

<h3 class="archive__title">{{ site.data.ui-text[site.locale].experience | default: "Work Experiences" }}</h3>
<ul>
  <li><small>Software Engineer, Penta Security Systems Inc  <br/> (Seoul, Republic of Korea, Aug. 2021 ~ ) (alternative military service)</small></li>
  <li><small>Research Intern, Human-Centered Artificial Intelligence Lab @ UOS<br/> (Seoul, Republic of Korea, Jun. 2020 ~ )</small></li>
  <li><small>Research Intern, KIST Europe Forschungsgesellschaft mbH <a href="assets/pdf/final_presentation_kist_taewonyoo.pdf">(Final Presentation)</a><br/> (Saarbrücken, Germany, Aug. 2019 ~ Jan. 2020)</small></li>
</ul>

<h3 class="archive__title">Publications</h3>

<h5 class="archive__subtitle">International Conference Papers</h5>
<ul style="font-size: small;">
  <li>
    <strong>T. Yoo</strong>, M. Chun, Y. Bae, S. Kwon, H. Jung. "Exploring the Community of Model Publishers on TensorFlow Hub". To Appear In Proceedings of the ACM Conference On Computer-Supported Cooperative Work And Social Computing (CSCW), Virtual, Oct 2022
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jeong, D. Lee, H. Jung. "LectYS: A System for Summarizing Lecture Videos on YouTube". In Proceedings of the ACM Conference on Intelligent User Interfaces (IUI), Virtual, Apr. 2021
    <br/> <a href="assets/pdf/iui21-tyoo.pdf">[pdf]</a> <a href="https://www.youtube.com/watch?v=cB9KvMVU1CU">[presentation]</a>
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jung. "Category Classification of Educational Videos on YouTube through Machine Learning Approaches using Video Titles". In Proceedings of the US-Korea Conference on Science, Technology and Entrepreneurship (UKC), Chicago, IL, USA, Aug. 2019
    <br> <a href="assets/pdf/ukc19-tyoo.pdf">[poster]</a>
  </li>
</ul>

<h5 class="archive__subtitle">Domestic Conference Papers</h5>
<ul style="font-size: small;">
  <li>
    <strong>T. Yoo</strong>, H. Jung. Category Classification of Educational Videos on YouTube through Machine Learning Approaches". In Proceedings of Korea Computer Congress (KCC) 2019, Jeju, Korea, Jun. 2019.
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jung. "Needs Analysis Based on Vlogging Career". In Proceedings of the HCI Korea 2019 Conference, Jeju, Korea, Feb. 2019.
  </li>
</ul>

<h4 class="archive__title">Education</h4>
<ul style="font-size: small;">
  <li>
    B.S in Software Convergence (Data Science Track), Kyung Hee University <br/> Mar. 2017 ~ 
  </li>
</ul>


<h3 class="archive__title">Student Volunteer</h3>
<ul style="font-size: small;">
  <li>
    ACM CSCW, Oct. 2021
  </li>
  <li>
    ACM ASSESTS, Oct. 2021
  </li>
  <li>
    ACM RecSys, Sep. 2021
  </li>
  <li>
    ACM DIS, Jun. 2021
  </li>
  <li>
    ACM IUI, Apr. 2021
  </li>
  <li>
    IEEE Student Volunteer Program, Aug. 2020 - Jan. 2021
  </li>
</ul>



{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
