---
layout: archive
---

{{ content }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173632340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173632340-1');
</script>

<h3 class="archive__title">{{ site.data.ui-text[site.locale].experience | default: "Work Experiences" }}</h3>
<ul>
  <li><small>Research Intern, <strong>Human-Centered Artificial Intelligence Lab @ UOS</strong><br/> (Seoul, Republic of Korea, Jun, 2020 ~)</small></li>
  <li><small>Software Engineer, <strong>Penta Security Systems Inc.</strong>  <br/> (Seoul, Republic of Korea, Aug. 2021 ~ Jul. 2023) (alternative military service)</small></li>
  <li><small>Research Intern, <strong>KIST Europe Forschungsgesellschaft mbH</strong> <a href="assets/pdf/final_presentation_kist_taewonyoo.pdf">(Final Presentation)</a><br/> (Saarbrücken, Germany, Aug. 2019 ~ Jan. 2020)</small></li>
</ul>

<h3 class="archive__title">Publications</h3>

<h5 class="archive__subtitle">International Journal Papers</h5>
<ul style="font-size: small;">
  <li>
    S. Na, S. Park, J. Jun, H. Jeong, <strong>T. Yoo</strong>, M. Chun, H. Lee, H. Jung. "SUV: Students’ Understand- ing Visualizer to Support Instructors in Synchronous Online Lectures". IEEE Access, Aug. 2023. DOI:10.1109/ACCESS.2023.3303030
    <br/><a href="https://ieeexplore.ieee.org/document/10210371">[ieee xplore]</a>
  </li>
  <li>
    M. Chun, H. Jeong, H. Lee, <strong>T. Yoo</strong>, H. Jung. "Development of Korean Food Image Classification Model Using Public Food Image Dataset and Deep Learning Methods". IEEE Access, Dec. 2022. DOI:10.1109/ACCESS.2022.3227796
    <br/><a href="https://ieeexplore.ieee.org/document/9976036">[ieee xplore]</a>
  </li>
</ul>

<h5 class="archive__subtitle">International Conference Papers</h5>
<ul style="font-size: small;">
  <li>
    <strong>T. Yoo</strong>, H. Lee, S. Oh, H. Kwon, H. Jung. "Visualizing the Carbon Intensity of Machine Learning Inference for Image Analysis on TensorFlow Hub". In Companion Publication of the 2023 Conference on Computer Supported Cooperative Work and Social Computing (CSCW'23 Companion). ACM, Minneapolis, MN, USA, October 2023. DOI:10.1145/3584931.3606959
    <br/> <a href="assets/pdf/cscw-23-poster.pdf">[poster]</a> <a href="https://dl.acm.org/doi/10.1145/3584931.3606959">[acm dl]</a>
  </li>
  <li>
    <strong>T. Yoo</strong>, M. Chun, Y. Bae, S. Kwon, H. Jung. "Exploring the Community of Model Publishers on TensorFlow Hub". In Companion Publication of the 2022 Conference on Computer Supported Cooperative Work and Social Computing (CSCW'22 Companion). ACM, Virtual, October 2022. DOI:10.1145/3500868.3559477
    <br/> <a href="assets/pdf/cscw-22-poster.pdf">[poster]</a> <a href="https://dl.acm.org/doi/pdf/10.1145/3500868.3559477">[acm dl]</a>
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jeong, D. Lee, H. Jung. "LectYS: A System for Summarizing Lecture Videos on YouTube". In Proceedings of the 26th International Conference on Intelligent User Interfaces (IUI'21). ACM, Virtual, April 2021. DOI:10.1145/3397482.3450722
    <br/><a href="https://www.youtube.com/watch?v=cB9KvMVU1CU">[presentation]</a> <a href="https://dl.acm.org/doi/pdf/10.1145/3397482.3450722">[acm dl]</a>
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jung. "Category Classification of Educational Videos on YouTube through Machine Learning Approaches using Video Titles". In Proceedings of the US-Korea Conference on Science, Technology and Entrepreneurship (UKC), Chicago, IL, USA, Aug. 2019
    <br> <a href="assets/pdf/ukc19-tyoo.pdf">[poster]</a>
  </li>
</ul>

<h5 class="archive__subtitle">Domestic Conference Papers</h5>
<ul style="font-size: small;">
  <li>
    <strong>T. Yoo</strong>, H. Jung. Category Classification of Educational Videos on YouTube through Machine Learning Approaches". In Proceedings of Korea Computer Congress (KCC) 2019, Jeju, Korea, Jun. 2019.
  </li>
  <li>
    <strong>T. Yoo</strong>, H. Jung. "Needs Analysis Based on Vlogging Career". In Proceedings of the HCI Korea 2019 Conference, Jeju, Korea, Feb. 2019.
  </li>
</ul>

<h4 class="archive__title">Education</h4>
<ul style="font-size: small;">
  <li>
    B.S in Software Convergence (Data Science Track), Kyung Hee University <br/> Mar. 2017 ~ 
  </li>
</ul>


<h3 class="archive__title">Student Volunteer</h3>
<ul style="font-size: small;">
  <li>
    ACM CSCW, 2021, 2022, 2023
  </li>
  <li>
    ACM ASSESTS, 2021
  </li>
  <li>
    ACM RecSys, 2021, 2022
  </li>
  <li>
    ACM DIS, 2021
  </li>
  <li>
    ACM IUI, 2021
  </li>
  <li>
    IEEE Student Volunteer Program, Aug. 2020 - Jan. 2021
  </li>
</ul>



{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
